/*app styles*/

body {
  font-family: helvetica;
  background: #264440;
}

/*Header Styles*/

header {
  font-size: 35px;
  font-weight: bold;
  height: 100px;
  width: 100%;
  text-align: center;
  background: #359085;
  position: relative;
}

header img {
  height: 75px;
  width: 200px;
  border: ridge 3px #906F60;
  position: absolute;
}

header h1 {
  padding-top: 25px;
}

.header_salmon {
  left: 20%;
  top: 0;
}

.header_chinook {
  right: 20%;
  top: 0;
}

/*Main Styles*/

nav {
text-align: center;
font-style: italic;
font-size: 16px;
background: #906F60;
width: 960px;
margin: -10px auto;
padding-top: 10px;
}

main {
  width: 960px;
  margin: 0 auto;
  background: #906F60;
}

main div {
  text-align: center;
}

h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  width: 100%;
  text-align: center;
}

main img {
  margin: 15px 15%;
  width: 70%;
  border: ridge 5px #444;
  text-align: center;
}

main p {
  margin: 15px 15%;
}

main section {
  margin: 15px auto;
  position: relative;
  height: 570px;
  width: 100%;
}

main section img {
  margin: 10px;
  position: absolute;
  height: 250px;
  width: 250px;
  transition: 1s all ease-in-out;
  border-radius: 3px;
}

#cutter {
  top: 0;
  left: 20%;
}

#frosted {
  top: 0;
  right: 20%;
}

#fish {
  bottom: 0;
  left: 20%;
}

#shirt {
  bottom: 0;
  right: 20%;
}

main section img:hover {
  transform: scale(2.25);
  z-index: 9;
}

#cutter:hover {
  top: 25%;
  left: 35%;
}

#frosted:hover {
  top: 25%;
  right: 35%;
}

#fish:hover {
  bottom: 25%;
  left: 35%;
}

#shirt:hover {
  bottom: 25%;
  right: 35%;
}


/*Form Styles*/

form {
  text-align: center;
}

fieldset {
  padding: 20px;
}

input[type="text"] {
  padding: 7px;
  border: solid 1 px #000;
  border-radius: 3px;
}

input[type"text"]:focus {
  background: #000
  color: #fff
}

input[type="number"] {
  padding: 7px;
  border: solid 1 px #000;
  border-radius: 3px;
}

input[type"number"]:focus {
  background: #000
  color: #fff
}

button {
  margin-left: 20px;
  margin-bottom: 10px;
  background: #000;
  color: #fff;
  padding: 8px 18px;
  border-radius: 3px
  border: none;
  cursor: pointer;
}

/*Table Styles*/

table {
  margin: 0 auto;
}

thead {
  background: gray;
  color: white;
  padding: 5px
  border: solid 1px #000;
}

td, th {
  padding: 5px;
  border: solid 1px #000;
}
